### Pandas part II

In [2]:
!pip install pandas

Requirement already satisfied: pandas in f:\courses\ds,ml,dl,nlp\code\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in f:\courses\ds,ml,dl,nlp\code\venv\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in f:\courses\ds,ml,dl,nlp\code\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in f:\courses\ds,ml,dl,nlp\code\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in f:\courses\ds,ml,dl,nlp\code\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in f:\courses\ds,ml,dl,nlp\code\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('test1.csv')

In [5]:
df

     5.1  3.5  1.4  0.2  0
0    4.9  3.0  1.4  0.2  0
1    4.7  3.2  1.3  0.2  0
2    4.6  3.1  1.5  0.2  0
3    5.0  3.6  1.4  0.2  0
4    5.4  NaN  1.7  0.4  0
..   ...  ...  ...  ... ..
144  6.7  3.0  5.2  2.3  2
145  6.3  2.5  5.0  1.9  2
146  6.5  3.0  5.2  2.0  2
147  6.2  3.4  5.4  2.3  2
148  5.9  3.0  5.1  1.8  2

[149 rows x 5 columns]

In [6]:
df.head(5)

   5.1  3.5  1.4  0.2  0
0  4.9  3.0  1.4  0.2  0
1  4.7  3.2  1.3  0.2  0
2  4.6  3.1  1.5  0.2  0
3  5.0  3.6  1.4  0.2  0
4  5.4  NaN  1.7  0.4  0

In [7]:
df.describe()

              5.1         3.5         1.4         0.2           0
count  149.000000  148.000000  149.000000  149.000000  149.000000
mean     5.848322    3.045270    3.774497    1.205369    1.006711
std      0.828594    0.429259    1.759651    0.761292    0.817847
min      4.300000    2.000000    1.000000    0.100000    0.000000
25%      5.100000    2.800000    1.600000    0.300000    0.000000
50%      5.800000    3.000000    4.400000    1.300000    1.000000
75%      6.400000    3.300000    5.100000    1.800000    2.000000
max      7.900000    4.400000    6.900000    2.500000    2.000000

In [8]:
df.dtypes

5.1    float64
3.5    float64
1.4    float64
0.2    float64
0        int64
dtype: object

In [9]:
df.isnull()

       5.1    3.5    1.4    0.2      0
0    False  False  False  False  False
1    False  False  False  False  False
2    False  False  False  False  False
3    False  False  False  False  False
4    False   True  False  False  False
..     ...    ...    ...    ...    ...
144  False  False  False  False  False
145  False  False  False  False  False
146  False  False  False  False  False
147  False  False  False  False  False
148  False  False  False  False  False

[149 rows x 5 columns]

In [10]:
df.isnull().any(axis=1)

0      False
1      False
2      False
3      False
4       True
       ...
144    False
145    False
146    False
147    False
148    False
Length: 149, dtype: bool

In [11]:
df.isnull().any()

5.1    False
3.5     True
1.4    False
0.2    False
0      False
dtype: bool

In [12]:
df.isnull().sum()

5.1    0
3.5    1
1.4    0
0.2    0
0      0
dtype: int64

In [17]:
df['3.5_updated']=df['3.5'].fillna(df['3.5'].mean())

In [18]:
df

     5.1  3.5  1.4  0.2  0      3.6  3.5_updated
0    4.9  3.0  1.4  0.2  0  3.00000      3.00000
1    4.7  3.2  1.3  0.2  0  3.20000      3.20000
2    4.6  3.1  1.5  0.2  0  3.10000      3.10000
3    5.0  3.6  1.4  0.2  0  3.60000      3.60000
4    5.4  NaN  1.7  0.4  0  3.04527      3.04527
..   ...  ...  ...  ... ..      ...          ...
144  6.7  3.0  5.2  2.3  2  3.00000      3.00000
145  6.3  2.5  5.0  1.9  2  2.50000      2.50000
146  6.5  3.0  5.2  2.0  2  3.00000      3.00000
147  6.2  3.4  5.4  2.3  2  3.40000      3.40000
148  5.9  3.0  5.1  1.8  2  3.00000      3.00000

[149 rows x 7 columns]

In [19]:
df.dtypes

5.1            float64
3.5            float64
1.4            float64
0.2            float64
0                int64
3.6            float64
3.5_updated    float64
dtype: object

In [ ]:
df.rename(columns={'3.5':'col3.5'},inplace=True)

     5.1  col3.5  1.4  0.2  0      3.6  3.5_updated
0    4.9     3.0  1.4  0.2  0  3.00000      3.00000
1    4.7     3.2  1.3  0.2  0  3.20000      3.20000
2    4.6     3.1  1.5  0.2  0  3.10000      3.10000
3    5.0     3.6  1.4  0.2  0  3.60000      3.60000
4    5.4     NaN  1.7  0.4  0  3.04527      3.04527
..   ...     ...  ...  ... ..      ...          ...
144  6.7     3.0  5.2  2.3  2  3.00000      3.00000
145  6.3     2.5  5.0  1.9  2  2.50000      2.50000
146  6.5     3.0  5.2  2.0  2  3.00000      3.00000
147  6.2     3.4  5.4  2.3  2  3.40000      3.40000
148  5.9     3.0  5.1  1.8  2  3.00000      3.00000

[149 rows x 7 columns]

In [21]:
df

     5.1  3.5  1.4  0.2  0      3.6  3.5_updated
0    4.9  3.0  1.4  0.2  0  3.00000      3.00000
1    4.7  3.2  1.3  0.2  0  3.20000      3.20000
2    4.6  3.1  1.5  0.2  0  3.10000      3.10000
3    5.0  3.6  1.4  0.2  0  3.60000      3.60000
4    5.4  NaN  1.7  0.4  0  3.04527      3.04527
..   ...  ...  ...  ... ..      ...          ...
144  6.7  3.0  5.2  2.3  2  3.00000      3.00000
145  6.3  2.5  5.0  1.9  2  2.50000      2.50000
146  6.5  3.0  5.2  2.0  2  3.00000      3.00000
147  6.2  3.4  5.4  2.3  2  3.40000      3.40000
148  5.9  3.0  5.1  1.8  2  3.00000      3.00000

[149 rows x 7 columns]

In [26]:
df['5.1'] = df['5.1'].astype(int)

In [27]:
df

     5.1  3.5  1.4  0.2  0      3.6  3.5_updated
0      4  3.0  1.4  0.2  0  3.00000      3.00000
1      4  3.2  1.3  0.2  0  3.20000      3.20000
2      4  3.1  1.5  0.2  0  3.10000      3.10000
3      5  3.6  1.4  0.2  0  3.60000      3.60000
4      5  NaN  1.7  0.4  0  3.04527      3.04527
..   ...  ...  ...  ... ..      ...          ...
144    6  3.0  5.2  2.3  2  3.00000      3.00000
145    6  2.5  5.0  1.9  2  2.50000      2.50000
146    6  3.0  5.2  2.0  2  3.00000      3.00000
147    6  3.4  5.4  2.3  2  3.40000      3.40000
148    5  3.0  5.1  1.8  2  3.00000      3.00000

[149 rows x 7 columns]

In [31]:
df.head()
df['3.5'].fillna(df['3.5'].mean(), inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_18284\2265396126.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['3.5'].fillna(df['3.5'].mean(), inplace=True)

In [35]:
df
df['3.5']=df['3.5'].astype(int)
df

     5.1  3.5  1.4  0.2  0      3.6  3.5_updated
0      4    3  1.4  0.2  0  3.00000      3.00000
1      4    3  1.3  0.2  0  3.20000      3.20000
2      4    3  1.5  0.2  0  3.10000      3.10000
3      5    3  1.4  0.2  0  3.60000      3.60000
4      5    3  1.7  0.4  0  3.04527      3.04527
..   ...  ...  ...  ... ..      ...          ...
144    6    3  5.2  2.3  2  3.00000      3.00000
145    6    2  5.0  1.9  2  2.50000      2.50000
146    6    3  5.2  2.0  2  3.00000      3.00000
147    6    3  5.4  2.3  2  3.40000      3.40000
148    5    3  5.1  1.8  2  3.00000      3.00000

[149 rows x 7 columns]

In [36]:
df

     5.1  3.5  1.4  0.2  0      3.6  3.5_updated
0      4    3  1.4  0.2  0  3.00000      3.00000
1      4    3  1.3  0.2  0  3.20000      3.20000
2      4    3  1.5  0.2  0  3.10000      3.10000
3      5    3  1.4  0.2  0  3.60000      3.60000
4      5    3  1.7  0.4  0  3.04527      3.04527
..   ...  ...  ...  ... ..      ...          ...
144    6    3  5.2  2.3  2  3.00000      3.00000
145    6    2  5.0  1.9  2  2.50000      2.50000
146    6    3  5.2  2.0  2  3.00000      3.00000
147    6    3  5.4  2.3  2  3.40000      3.40000
148    5    3  5.1  1.8  2  3.00000      3.00000

[149 rows x 7 columns]

In [37]:
df.describe()

,5.1,3.5,1.4,0.2,0,3.6,3.5_updated
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.389262,2.644295,3.774497,1.205369,1.006711,3.045270,3.045270
std,0.843988,0.533649,1.759651,0.761292,0.817847,0.427806,0.427806
min,4.000000,2.000000,1.000000,0.100000,0.000000,2.000000,2.000000
25%,5.000000,2.000000,1.600000,0.300000,0.000000,2.800000,2.800000
50%,5.000000,3.000000,4.400000,1.300000,1.000000,3.000000,3.000000
75%,6.000000,3.000000,5.100000,1.800000,2.000000,3.300000,3.300000
max,7.000000,4.000000,6.900000,2.500000,2.000000,4.400000,4.400000

In [38]:
df1=pd.DataFrame({'A':[1,2,3,4,5],'B':[1,2,3,4,5]})
df2=pd.DataFrame({'A':[11,22,33,44,55],'B':[11,22,33,44,55]})

In [39]:
print(df1)
print(df2)

   A  B
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
    A   B
0  11  11
1  22  22
2  33  33
3  44  44
4  55  55

In [ ]:
pd.merge(df1,df2,on='A',how='outer')

    A  B_x   B_y
0   1  1.0   NaN
1   2  2.0   NaN
2   3  3.0   NaN
3   4  4.0   NaN
4   5  5.0   NaN
5  11  NaN  11.0
6  22  NaN  22.0
7  33  NaN  33.0
8  44  NaN  44.0
9  55  NaN  55.0

In [44]:
pd.merge(df1,df2,on='A',how='left')

   A  B_x  B_y
0  1    1  NaN
1  2    2  NaN
2  3    3  NaN
3  4    4  NaN
4  5    5  NaN

In [45]:
pd.merge(df1,df2,on='A',how='right')

    A  B_x  B_y
0  11  NaN   11
1  22  NaN   22
2  33  NaN   33
3  44  NaN   44
4  55  NaN   55