1. Functions

A block of CODE which is reused by just calling/typing a name of that perticular code is called as a Functions

In [ ]:
                                            # Syntax 
def function_name(parameters):
    """Docstring"""
    # Function Body
    return #expression

In [10]:
num=int(input("Enter number you want to check"))
def even_odd(num):
    if num%2==0:
        print(f"{num} is Even Number")
    else:
        print(f"{num} is a Odd Number")

even_odd(num)

15 is a Odd Number

In [12]:
# Addition of two numbers
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))

def add(num1,num2):
    return num1+num2
result=add(num1,num2)
print(f"Addition of {num1} and {num2} is {result}")

Addition of 45678 and 56789 is 102467

In [14]:
# default parameter

def greet(name="Guest"):
    print(f"Hello {name} , Good Morning ! Welcome to the Paradise")

greet("Narendra")
greet()

Hello Narendra , Good Morning ! Welcome to the Paradise
Hello Guest , Good Morning ! Welcome to the Paradise

In [ ]:
# Variable length argument
# positional arguments
def print_numbers(*args):
    for item in args:
        print(item)

print_numbers(1,2,3,4,5,6,7,8,9,"Narendra",True,3.14)

1
2
3
4
5
6
7
8
9
Narendra
True
3.14

In [16]:
# Keywords arguments
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key} : {value}")

print_details(name="Narendra",Age=20,Adress="Parbhani")

name : Narendra
Age : 20
Adress : Parbhani

In [23]:
def print1(*args,**kwargs):
    for val in args:
        print(f"Positional argument -------> {val}")
    for key,value in kwargs.items():
        print(f"   keyword argument -------> {key} : {value}")

print1(1,2,3,4,5,name="Narendra",Age=20,Adress="Parbhani")

Positional argument -------> 1
Positional argument -------> 2
Positional argument -------> 3
Positional argument -------> 4
Positional argument -------> 5
   keyword argument -------> name : Narendra
   keyword argument -------> Age : 20
   keyword argument -------> Adress : Parbhani

In [26]:
# Return statements
def multiply(num1,num2):
    return num1*num2
multiply(2,3)

6

In [ ]:
# Return statements
# In python we can return multiple values from a function
def multiply(num1,num2):
    return num1*num2,num2
multiply(2,3)

(6, 3)