1. map() Function in python

In [4]:
def square(x):
    return x*x

square(10)

100

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10,11]

list[map(square,numbers)]
print(list(map(square,numbers)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]
2786914576000

In [2]:
# Map() function with lambda function 

numbers=[1,2,3,4,5,6,7,8,9,10,11]

map(lambda x:x**3,numbers) #map is a lazy function, it will not return the result until we convert it to list or tuple
list(map(lambda x:x**3,numbers))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]

In [7]:
numbers1=[1,2,3,4,5]
numbers2=[6,7,8,9,10]

map(lambda x:x**2,numbers1+numbers2)
result1=list(map(lambda x:x**2,numbers1+numbers2))
print(result1)


result2=list(map(lambda x,y:x*y,numbers1,numbers2))
print(result2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[6, 14, 24, 36, 50]

In [8]:
# map() is also used for typecasting
str_numbers=['1','2','3','4','5']
list(map(int,str_numbers))

[1, 2, 3, 4, 5]

In [ ]:
# map() with string upper function
fruits=['apple','banana','orange','grapes']
upper_fruits=list(map(str.upper,fruits))
print(upper_fruits)

['APPLE', 'BANANA', 'ORANGE', 'GRAPES']

In [12]:
def get_name(name):
    return name['name']

peoples=[
    {'name':'Narendra','age':20},
    {'name':'Ravi','age':30},
    {'name':'Kiran','age':40},
    {'name':'Rahul','age':50}
]

names=list(map(get_name,peoples))
print(names)

['Narendra', 'Ravi', 'Kiran', 'Rahul']