### SQL and SQLite

In [ ]:
import sqlite3

In [2]:
# Connect to SQLite database or creation 
connection=sqlite3.connect('example.db')

In [4]:
connection

In [6]:
# Creating a cursor in py db
cursor=connection.cursor()

In [9]:
# Creating a Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Students(
        PRN Integer PRIMARY KEY,
        Name TEXT NOT NULL,
        Department TEXT NOT NULL,
        Year INTEGER NOT NULL
    )
''')

# Inserting data into a table data

connection.commit()

In [12]:
# Insert data
cursor.execute('''
    INSERT OR IGNORE INTO Students (PRN, Name, Department, Year)
    VALUES
    (1123, 'Gandu', 'Computer Science', 2),
    (1124, 'Bobyyy', 'Electrical Engineering', 3),
    (1125, 'Charlieee', 'Mechanical Engineering', 1)
''')

connection.commit()

In [13]:
cursor.execute("SELECT * FROM Students")
rows=cursor.fetchall()

for row in rows:
    print(row)

(1123, 'Gandu', 'Computer Science', 2)
(1124, 'Bobyyy', 'Electrical Engineering', 3)
(1125, 'Charlieee', 'Mechanical Engineering', 1)